NEXT_PUBLIC_SUPABASE_URL=https://ogsokfbhejtjephqigir.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9nc29rZmJoZWp0amVwaHFpZ2lyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkzNjMxMjgsImV4cCI6MjA5NDkzOTEyOH0.TcjEmkO4OWg5HxjPC5N4mFUjOKdj7spLVpBikd0M9PE
